/* -----------GLOBAL------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #302f2f;
}
:root {
  --main-bg-color: #e7e7e7;
  --main-color: #302f2f;
}

h2{
  font-size: 28px;
}
p{
  line-height: 1.5;
  font-family: "ITC Stone Informal Std Medium", serif;
}
.italic{
  font-style: italic;
}
h4{
  font-size: 26px;
  color: #302f2f;
  margin: 0 0 0.8em 0;
  font-family: "ITC Stone Informal Std Medium", serif;
}
h5{
  font-size: 18px;
  font-weight: bold;
  font-family: "ITC Stone Informal Std Medium";
}

#content{
  display: flex;
  flex-wrap: wrap;
}
.back{
  position: fixed;
  top: 1.5em;
  left: 1.5em;
}
.back img{
  width: 60%;
  /* height: 20%; */
}
section{
  min-width: 100vp;
  min-height: 100vh;
  margin: 0 10%;
  display: inline-block;
}
#top-area{
  min-width: 100vp;
  min-height: 50vh;
}
#top-area h3{
  font-size: 40px;
  width: 100%; 
  margin: 30% auto auto auto;
}
#top-area p{
  font-size: 23px;
}
#process{
  display: flex;
}
.nerves-video{
  margin: 6em auto auto -2.65em;
  height: 80%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.nerves-video:active{
  outline: 0px solid transparent;
}

/* --Lowercase-- */
#lowercase{
  margin-top: 8em;
}
.lowercase-img{
  width: 99%;
  margin: 4em auto auto 7em;
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --Uppercase-- */
#uppercase{
  margin-top: 1em;
}
.uppercase-img{
  width: 77%;
  margin: 4em auto auto 7.5em;
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --Posters-- */

#posters{
  margin: 4em auto auto 8em;
}
.poster-black{
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.poster-white{
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(121, 120, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ------Alphabet in Glyphs------ */
#top-area-glyphs{
  margin: 1em auto;
}
#top-area-glyphs h3{
  font-size: 40px;
  width: 100%; 
  /* margin: 30% auto auto auto; */
  margin: 1.5em auto auto 3.5em;
}
#top-area-glyphs p{
  margin: 0 auto auto 8.7em;
}
#top-area-glyphs img{
  margin: 2.5em auto auto 8.5em;
  width: 80%;
}