


/* -----------GLOBAL------------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #302f2f;
}

:root {
  --main-bg-color: #e7e7e7;
  --main-color: #302f2f;
}

p{
  line-height: 1.5;
  font-family: "ITC Stone Informal Std Medium, serif";
}

.italic{
  font-style: italic;
}

h4{
  font-size: 26px;
  color: #302f2f;
  margin: 0 0 0.8em 0;
  font-family: "ITC Stone Informal Std Medium, serif";
}

h5{
  font-size: 18px;
  font-weight: bold;
  font-family: "ITC Stone Informal Std Medium";
}

#content{
  display: flex;
  flex-wrap: wrap;
}
section{
  min-width: 100vp;
  min-height: 100vh;
  margin: 0 10%;
  display: inline-block;
}

/* --Top Area-- */

#top-area{
  position: relative;
}

h3 {
  position: absolute;
  top: 3em;
  left: 0em;
  color: #302f2f;
  font-family: "Lato", "AvantGarde Medium", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5em;
}
.description{
  grid-area: descr;
  margin-left: 0.5em;
}
@media only screen and (max-width: 400px){
  h3 {
    top: 4.5em;
    left: 1em;
    font-size: 30px;
  }
}
/* ------Typo home page------ */

#typo-projects{
  position: absolute;
  top: 39%;
  left: 10%;

  max-width: 67%;
  display: flex;
  flex-wrap: wrap;
}
#card-typo{
  margin: 0 0 auto 5em;
  width: 20em;
  height: 22em;
  line-height: 1.4;
  padding: 2.3em;
  box-shadow: 0 4px 8px 0 rgba(250, 248, 248, 0.089), 0 6px 20px 0 rgba(94, 93, 93, 0.19);
}
#card-typo h4, p{
  display: inline-block;
  line-height: .1;
  font-family: "ITC Stone Informal Std Medium";
  width: 100%;
}
#card-typo img{
  /* width: 80%; */
  width: 12em;
  margin: 10% auto auto 10%;
  display: inline-block;
}
@media only screen and (max-width: 400px){
  #typo-projects{
    position: absolute;
    top: 33%;
    left: 0%;
  
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  #card-typo{
    margin: .2em auto 2em -.75em;
    width: 20em;
    height: 22em;
    line-height: 1.4;
    padding: 2.3em;
    box-shadow: 0 4px 8px 0 rgba(250, 248, 248, 0.089), 0 6px 20px 0 rgba(94, 93, 93, 0.19);
  }
  #card-typo p{
    margin-left: 0em;
  }
  #card-typo img{
    /* width: 80%; */
    width: 12em;
    margin: 10% auto auto 10%;
    display: inline-block;
  }
}